UdemyFlows/force-app/main/default/flows/Count_Contact_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Record</name>
        <label>Count Record</label>
        <locationX>486</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberOfContactRecord</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Retrieve_Contact_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Number_Of_Contact_Records</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Count Contact Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Contact Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_Contact_Records</name>
        <label>Retrieve Contact Records</label>
        <locationX>318</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MailingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dallas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Total_Number_Of_Contact_Records</name>
        <label>Total Number Of Contact Records</label>
        <locationX>632</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTextForCount</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Number of Contacts from Mailing City: Dallas&amp;nbsp;{!TotalNumberOfContactRecord}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>195</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Retrieve_Contact_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>TotalNumberOfContactRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
