UdemyFlows/force-app/main/default/flows/Update_Contact_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Updated_Records_To_a_Collection</name>
        <label>Add Updated Records To a Collection</label>
        <locationX>733</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>VariableToStoreUpdatedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_City_On_Every_Record</name>
        <label>Update City On Every Record</label>
        <locationX>732</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_Contact_Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Records_To_a_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Update Contact Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Records</label>
    <loops>
        <name>Iterate_over_Contact_Record</name>
        <label>Iterate over Contact Record</label>
        <locationX>547</locationX>
        <locationY>483</locationY>
        <collectionReference>Retrieve_all_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_City_On_Every_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_the_Contact_Records_With_New_City</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_all_Contact_Records</name>
        <label>Retrieve all Contact Records</label>
        <locationX>337</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Contact_Record</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_the_Contact_Records_With_New_City</name>
        <label>Update All the Contact Records With New City</label>
        <locationX>1107</locationX>
        <locationY>484</locationY>
        <inputReference>VariableToStoreUpdatedContacts</inputReference>
    </recordUpdates>
    <screens>
        <name>Update_City_On_Contact_Record</name>
        <label>Update City On Contact Record</label>
        <locationX>383</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_all_Contact_Records</targetReference>
        </connector>
        <fields>
            <name>Enter_City</name>
            <dataType>String</dataType>
            <fieldText>Enter City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_City_On_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VariableToStoreUpdatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
