UdemyFlows/force-app/main/default/flows/Update_Shipping_Address_On_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_The_Updated_Accounts_To_this_Collection</name>
        <label>Add The Updated Accounts To this Collection</label>
        <locationX>660</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>VariableToStoreUpdatedAccountRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Account_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipping_Address_On_Every_Record</name>
        <label>Update Shipping Address On Every Record</label>
        <locationX>653</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Account_Records.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Account_Records.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Account_Records.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Account_Records.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Account_Records.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Account_Records.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Account_Records.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Account_Records.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Account_Records.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Account_Records.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_The_Updated_Accounts_To_this_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Update Shipping Address On Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Shipping Address On Account</label>
    <loops>
        <name>Loop_Over_Account_Records</name>
        <label>Loop Over Account Records</label>
        <locationX>399</locationX>
        <locationY>356</locationY>
        <collectionReference>Retrieve_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Shipping_Address_On_Every_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_Account_Records</name>
        <label>Retrieve Account Records</label>
        <locationX>160</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Records</name>
        <label>Update Account Records</label>
        <locationX>586</locationX>
        <locationY>120</locationY>
        <inputReference>VariableToStoreUpdatedAccountRecords</inputReference>
    </recordUpdates>
    <screens>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>165</locationX>
        <locationY>171</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Account_Records</targetReference>
        </connector>
        <fields>
            <name>Enter_Country</name>
            <dataType>String</dataType>
            <fieldText>Enter Country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>36</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Update_Shipping_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VariableToStoreUpdatedAccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
